{% extends "base.html" %}

<!-- Begin Blog List -->
{% block content %}
	<!-- Begin Article -->
	{% for post in posts.object_list %}
		<div class="article">
			<div class="title"><h2><a href="/blog/posts/{{ post.slug }}">{{ post.title }}</a></h2>
				<div class="date">({{ post.created }})</div><br />
				<div class="desc">{{ post.desc }}</div></div>
		</div>
	{% endfor %} 
	<!-- End Article -->

	<!-- Next/Prev page links -->
	{% if posts.object_list and posts.paginator.num_pages > 1 %}
		<div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
			<span class="step-links">
				{% if posts.has_previous %}
					<a href="?page={{ posts.previous_page_number }}">new entries &lt;&lt; </a>
				{% endif %}
			</span>

			<span class="current">
				&nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
			</span>

			{% if posts.has_next %}
			<a href="?page={{ posts.next_page.number }}"> &gt;&gt; older entries</a>
			{% endif %}
		</div>
	{% endif %}
{% endblock %}
<!-- End Blog List -->


