<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>{% block title %}LexToumbourou.com - {{ slogan }}{% endblock %}</title>
			<script type="text/javascript" src="/static/lexandstuff/js/prettify.js"></script>
			<link rel="stylesheet" href="/static/lexandstuff/css/prettify.css" type="text/css">
			<link rel="stylesheet" href="/static/lexandstuff/css/default.css" type="text/css">
			<!--[if lt IE 8]>
		  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
	</head>

	<body onload="prettyPrint()">
		<div id="container">
			<div id="main_menu">
				<ul>
					<li><a href="/blog/posts/about">About</a> | </li>
					<li><a href="http://github.com/lextoumbourou">GitHub</a> | </li>
					<li><a href="http://twitter.com/lexandstuff">Twitter</a> </li>
				</ul>
			</div>
			<div id="header">
				<h1><a href="{% url blog.views.main %}">LexToumbourou.com</a></h1>
				<div id="slogan">
					{{ slogan }}
				</div>
			</div>

			
			<div id="content">
				{% block content %}{% endblock %}
				<div class="push"></div>
			</div>
		</div>

		<div class="footer">
		</div>

		
	</body>
</html>
