<title>{% block title %}Lex and Stuff - {{ slogan }}{% endblock %}</title>
		<link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/static/lexandstuff/css/default.css" type="text/css">
		<link rel="stylesheet" href="/static/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/static/blueprint/print.css" type="text/css" media="print">
		<link rel="stylesheet" href="/static/blueprint/grid.css" type="text/css" media="print">
		<!--[if lt IE 8]>
		  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
	  <![endif]-->

