{% extends "base.html" %}
{% load comments %}

{% block content %}

<div class="article">
	<div class="title"><h2><a href="/blog/posts/{{ post.slug }}">{{ post.title }}</a></h2>
			{% if not hide.date %}
			<div class="date">({{ post.created }})</div><br />
			{% endif %}
			<div class="desc">{{ post.desc }}</div>
	</div>

		{% autoescape off %}
	<div class="body">{{ post.body }}</div>
	{% endautoescape %}
</div>

{% get_comment_list for post as comments %}
{% for comment in comments %}
<div class="comment">
	<div class="title">
		<h3>{{ comment.name }} says: </h3>
		<div class="date">{{ comment.submit_date }}</div>
	</div>
	<div class="body">{{ comment.comment|linebreaks }}</div>
</div>


{% endfor %}

{% render_comment_form for post %}

{% endblock %}
