{% extends "base.html" %}

{% block content %}

<div class="article">
	<div class="title"><h2><a href="/blog/posts/{{ post.slug }}">{{ post.title }}</a></h2>
			{% if not hide.date %}
			<div class="date">({{ post.created }})</div><br />
			{% endif %}
			<div class="desc">{{ post.desc }}</div>
	</div>

		{% autoescape off %}
	<div class="body">{{ post.body|linebreaks }}</div>
	{% endautoescape %}
</div>

{% if not hide.comments %}
<div id="comments">
<!-- Comments -->
<div class="title"><h2><a href="{% url blog.views.post post.pk %}">{{ post.comment_set.count }} Comment(s)</a></h2></div>

{% if comments %}
	{% for comment in comments %}
		<div class="comment">
			<div class="title"><h3>{{ comment.author }} says:</h3>
			<div class="date">{{ comment.created }}</div>

			<div class="body">{{ comment.body|linebreaks }}</div>
		</div>
	{% endfor %}

{% endif %}
	<div id="add_comment">Add a comment</div>
	<form action="{% url blog.views.add_comment post.id %}" method="POST">{% csrf_token %}
		<div id="com_form">
			Name: {{ form.author }}
			<p>{{ form.body|linebreaks }}</p>
		</div>
		<div id="submit"><input type="submit" value="Submit"></div>
	</form>
</div>
{% endif %}

{% endblock %}
