{% extends "base.html" %}

{% block content %}

<div class="article">
	<h2 class="title">{{ post.title }}</h2>
	<div class="date">{{ post.created }}</div>
	<div class="body">{{ post.body|linebreaks }}</div>
</div>

<div id="comments">
<!-- Comments -->
{% if comments %}
		<h2>Comments</h2>
{% endif %}

	{% for comment in comments %}
		<div class="comment">
			<div class="date">{{ comment.created }} | {{ comment.author }}</div>
			<div class="body">{{ comment.body|linebreaks }}</div>
		</div>
	{% endfor %}

	<div id="add_comment">Add a comment</div>
	<form action="{% url blog.views.add_comment post.id %}" method="POST">{% csrf_token %}
		<div id="com_form">
			Name: {{ form.author }}
			<p>{{ form.body|linebreaks }}</p>
		</div>
		<div id="submit"><input type="submit" value="Submit"></div>
	</form>
</div>

{% endblock %}
