html, body {
	height: 100%;
}
html {
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
	color: #222222;
	font-family: Helvetica;
	padding-left: 20px;
    margin-left: 100px;
    padding: 0;
    vertical-align: baseline;
}

h1 {
	margin:0;
	padding:0;
}

hr {
     margin: auto auto 17px;
     width: 30%;
}

a, a:visited {
	color:#7187A2;
	text-decoration: none;
}

a:hover {
     text-decoration: underline;
}

#header {
}

#header h1 {
	margin-bottom: 2px;
}

#header h1 a {
	color: #3B4653;
	font-size: 2.8em;
	font-weight: bold;
	letter-spacing: -5px;
	text-decoration: none;
	margin-top:0;
	line-height:0.9em;
}

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
	width:900px;
}

#content {
	padding-top:10px
}

#article_list {
     padding-left: 20px;
}

ul.articles {
	margin:0;
	padding:0;
}

ul.articles li {
	list-style-type:none;
}

.title {
     margin: 1em 0pt;
}

.title h2 {
     display: inline;
     font-size: 1.6em;
}

.title h2 a {
	font-color:#000;
	text-decoration: none;
	letter-spacing:-0.5px;
}


.comment {
	margin-bottom:20px;
}

.comment h3 {
    border-color: #000000;
    border-style: solid;
    border-width: 0 0 0 10px;
    margin-bottom: 0;
    padding-bottom: 4px;
}

.title .date {
     display: inline;
     font-size: 1.2em;
}

.title .desc {
	font-size: 1.2em;
	font-style: italic;
}

#main_menu {
     margin-left: 0pt;
	float:right;

}

#main_menu ul{
}

#main_menu li {
     display: inline;
     list-style-type: none;
}

#main_menu a {
	    color: #7187A2;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    padding: 6px 10px;
}

#main_menu a:link, #main_menu a:visited {
     text-decoration: none;
}

#main_menu a:hover {
     text-decoration: underline;
}

#slogan {
	font-size: 2.2em;
	font-weight: bold;
	letter-spacing: -1px;
}

pre, code {
    color: #000000;
    font-family: Consolas;
    font-size: 0.8em;
    margin: 1.5em 0;
    padding: 10px;
    white-space: pre;	
}

/* Prettify override */
pre.prettyprint {
	border: 0;
}

	pre.prettyprint .str {
		color: #7187A2;
	}

.box {
     background: none repeat scroll 0% 0% #FFD9B3;
     border-radius: 15px 15px 15px 15px;
     box-shadow: 1px 1px 1px #C2CFE9;
}

.box li {
    
}

.box ul {
     list-style: none outside none;
     margin-left: 0pt;
     padding-left: 0pt;
}

.article {
}

.article h2 {
     margin: 0pt;
}

.article.blog_header a {
     text-decoration: none;
}

.article .blog_header a:active {
     text-decoration: none;
}


.comment .body, .article .body {
     font-size: 1.2em;
}

.article img {
     border-radius: 10pt 10pt 10px 10px;
     box-shadow: 5px 5px 5px #888888;
     display: block;
	 margin: 30px;
}

.article code {
     display: block;
     margin: 0pt auto;
}

.comment {
     margin: 10px 0pt;
}
.comment h3 {
    border-bottom: 1px dotted #000000;
    padding-bottom: 4px;
    margin-bottom: 0px;
}

.comment .date {
    margin-top: 0px
}
#tags {
     color: #000000;
     height: 100px;
     margin-bottom: 1.5em;
     overflow: auto;
}

#ft {
     padding: 10px;
     text-align: center;
}

#comments {
     margin-left: 15px;
}

#comments h2 {
     margin: 0pt;
}

.date {
}

.footer .push {
	clear:both;
	height: 100px; /* .push must be the same height as .footer */
	background-color: #222222
}
	.footer ul {
		text-align:center;
	}

	.footer ul li {
		display:inline;
	}

