{% extends "base.html" %}

{% block content %}
<div class="articles">
    <a name="article"></a>
    <div class="title">
        <h2>
            {% if post.type != 'I' %}
            {{ post.created }}. 
            {% endif %}
            <a href="/blog/posts/{{ post.slug }}">{{ post.title }}</a>
        </h2><br />
        <div class="desc">{{ post.desc }}</div>
    </div>

    <div class="article_body">
        {% autoescape off %}
            {{ post.body }}
        {% endautoescape %}
    </div>
</div>
{% endblock %}
