{% load comments %}
<h3>Add a comment</h3>
{% get_comment_form for post as form %}
<form action="{% comment_form_target %}" method="post">
	<div id="com_form">
		{% csrf_token %}
		{{ form.content_type }}
		{{ form.object_pk }}
		{{ form.timestamp }}
		{{ form.security_hash }}
		<p style="display:none"><label for="id_honeypot">Leave blank</label>{{ form.honeypot }}</p>
			<label for="id_name">Name: </label>
			{{ form.name }}
			<label for="id_email">Email: </label>
			{{ form.email }}
		</p>

		<p>
			<label for="id_comment">Comment:</label><br />
			{{ form.comment }}
		</p>

		<input type="hidden" name="next" value="{% url blog.views.post post.slug %}" />
		<p><input type="submit" name="post" value="Post" /></p>
	</div>
</form> 
